@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(214, 17%, 92%);
  min-height: 100vh;
  padding: 2rem 0;
}

.container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "card1 card1 card2 card5"
    "card3 card4 card4 card5";
  gap: 2rem;
}

.card {
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 2.5rem 3rem 3rem rgba(36, 36, 36, 0.25);
}

.profile-card {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.profile-card .info .name {
  margin-bottom: 0.2rem;
  font-weight: 500;
}

.profile-card img {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.card .testimonials-subject {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.8rem;
}

.card .testimonials-info {
  line-height: 1.5rem;
}

.card1 {
  grid-area: card1;
  background-color: hsl(263, 55%, 52%);
  color: white;
}

.card2 {
  grid-area: card2;
  background-color: hsl(217, 19%, 35%);
  color: hsl(214, 17%, 92%);
}

.card3 {
  grid-area: card3;
  background-color: white;
}

.card4 {
  grid-area: card4;
  background-color: hsl(219, 29%, 14%);
  color: hsl(214, 17%, 92%);
}
.card5 {
  grid-area: card5;
  background-color: white;
}

@media (max-width: 60rem) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
